.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #030061;  
}
h4{
    margin: 10px;
    color: #D0D3D4;  
    font-family: 'MedievalSharp', cursive;
}